{#
/**
 * @file
 * The user page.
 *
 */
#}
<div class="column-wrapper">
  <div class="column-4-15 first-column">
  </div>
  <div class="column-7-15">
    <div class="section">
      <div class="title">
        {{ 'Account'|t }}
      </div>
      <div class="content">
        {{ content.username }}
        {{ content.email_address }}
        {{ content.edit_link }}
      </div>
    </div>
  </div>
  <div class="column-4-15 last-column">
  </div>
</div>
