{#
/**
 * @file
 * Filter list.
 *
 */
#}
<div class="section">
  <div class="list filters">
    <div class="title">
      {{ content.title }}
    </div>
    <div class="content">
      <ul>
        {% for filter in content.filters %}
        <li>
          <div class="column-wrapper">
            <div class="column-15-15">
              {{ filter.title }}
              {{ filter.event_count }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
