/**
 * @file
 * The breadcump component.
 */

$breadcrumb-padding: 0.5em;

.breadcrumb {
  @extend %corner;
  background-color: $white1;
  background-color: $transparent;
  display: inline-block;
  padding-left: $breadcrumb-padding;
  padding-right: $breadcrumb-padding;
  padding-top: 0;
  padding-bottom: 0 !important;
  font-size: $small-font-size;
  letter-spacing: 1px;
  color: $white1;
}

.breadcrumb a {
  color: $white1;
}
