/**
 * @file
 * Header menu
 */

$header-menu-height-large: 6em;
$header-menu-height-small: 8em;

.header-menu {
  @media only screen and (max-width: $medium-min-width) {
    height: 4em;
    overflow: hidden;
  }
  background-color: $white1;
  margin-top: 1em;
  margin-bottom: 1em;
}

.header-menu .view.element-guide,
.header-menu .view.element-organizations,
.header-menu .view.element-help,
.header-menu .view.element-about,
.header-menu .element-my_group_link,
.header-menu .element-my_events_link,
.header-menu .element-profile_link,
.header-menu .element-register_link,
.header-menu .element-login_link,
.header-menu .element-logout_link,
.header-menu-small .element-my_group_link,
.header-menu-small .element-my_events_link,
.header-menu-small .element-profile_link,
.header-menu-small .element-register_link,
.header-menu-small .element-login_link,
.header-menu-small .element-logout_link {
  margin-top: 1em;
  text-transform: uppercase;
}

.header-menu {
  @media only screen and (max-width: $large-min-width) {
    display: none;
  }
}

.header-menu-small {
  @media only screen and (min-width: $large-min-width) {
    display: none;
  }
}

.header-menu-small .element-my_group_link,
.header-menu-small .element-my_events_link,
.header-menu-small .element-profile_link,
.header-menu-small .element-register_link,
.header-menu-small .element-login_link,
.header-menu-small .element-logout_link {
  @media only screen and (max-width: $medium-min-width) {
    display: none;
  }
}