/**
 * @file
 * Header menu
 */

$header-menu-height-large: 6em;
$header-menu-height-small: 8em;

.header-menu {
  @media only screen and (min-width: $medium-min-width) {
    margin: auto;
    height: $header-menu-height-large;
  }
  background-color: $white1;
  height: $header-menu-height-small;
}

.header-menu .view.element-logo {
  width: auto;
  margin-top: 0.5em;
}

.header-menu .view.element-guide,
.header-menu .view.element-organizations,
.header-menu .view.element-help {
  @media only screen and (min-width: $medium-min-width) {
    margin-top: 1.5em;
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
  margin-left: 0.2em;
  width: auto;
  float: left;
  text-transform: uppercase;
}


.header-menu .spacer {
  width: auto;
  float: left;
  border-right: 2px solid #d1d2d0;
  @media only screen and (min-width: $medium-min-width) {
    margin-top: 1.9em;
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
  margin-top: 0.4em;
}

.header-menu .element-login_link,
.header-menu .element-logout_link,
.header-menu .element-profile_link,
.header-menu .element-register_link {
  @media only screen and (min-width: $medium-min-width) {
    margin-top: 1.4em;
  }
  margin-top: 0;
  width: 7em;
  float: right;
}

.header-menu .element-profile_link,
.header-menu .element-register_link {
  @media only screen and (min-width: $medium-min-width) {
    margin-top: 1.5em;
  }
  margin-top: 0;
  width: 5em;
  float: right;
  text-transform: uppercase;
}
