{#
/**
 * @file
 * The profile bar.
 *
 */
#}
<div class="column-wrapper">
  <div class="column-1-15 no-spacing">
  </div>
  <div class="column-6-15 no-spacing">
    {{ content.profile_link }}
  </div>
  <div class="column-8-15 no-spacing">
    {{ content.logout_link }}
  </div>
</div>
