{#
/**
 * @file
 * Front page template.
 *
 */
#}
<div class="column-wrapper">
  <div class="column-10-15 first-column">
    <div class="section transparent">
      <div class="title">
        Let's help animals effectively, together.
      </div>
      <div class="content">
        The goal of activeforanimals.com is to be the best tool possible for arranging activism and managing volunteers and help organizations figure out how to best use their time to help animals.
      </div>
    </div>
    <div class="section transparent">
      <div class="title">
        How it works
      </div>
      <div class="content">
        Using activeforanimals.com is easy. Every time you do outreach (such as leafleting), follow these three steps:<br><br>
        <div class="column-wrapper">
          <div class="column-5-15">
            <span class="point">1</span> Create a leafleting event on activeforanimals.com.
          </div>
          <div class="column-5-15">
            <span class="point">2</span> Go out and do your leafleting event.
          </div>
          <div class="column-5-15">
            <span class="point">3</span> Type in the number of leaflets on activeforanimals.com.
          </div>
          <div class="column-5-15">
            {{ content.step_1 }}
          </div>
          <div class="column-5-15">
            {{ content.step_2 }}
          </div>
          <div class="column-5-15">
            {{ content.step_3 }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column-5-15 last-column">
    <div class="section transparent">
      <div class="title">
        Follow us on Facebook
      </div>
      <div class="content">
        For updates and news on the website, go to <a target="_blank" href="https://www.facebook.com/activeforanimals">https://www.facebook.com/activeforanimals</a>
      </div>
    </div>
    <div class="section transparent">
      <div class="title">
        Get started
      </div>
      <div class="content">
        <p>When you have registered an account, follow these steps to get started:</p>
        <ul class="list">
          <li>If you head or manage an organization or independent group, start <a href="/help/manager/organizations#how-do-i-create-a-new-organization">here</a>.</li>
          <li>If you arrange events and manage volunteers, ask your organization to create a page on this website and invite you to join as organizer. Read more <a href="/help/organizer">here</a>.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
 
