{#
/**
 * @file
 * Result overview template.
 *
 */
#}
<div class="column-wrapper">
  <div class="column-15-15 first-column last-column">
    <div class="section">
      <div class="title">
        Result overview
      </div>
      <div class="content">
        <div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
    </div>
  </div>
</div>
 
