/**
 * @file
 * The basic color definitions.
 */

$blue: #0b453d;

$white1: #ffffff;

$white2: #f5f5f5;

$white3: #efefef;

$gray1: #d1d2d0;

$gray2: darken($gray1, 20%);

$gray3: darken($gray2, 20%);

$gray4: darken($gray3, 20%);

$black: #333;

$transparent: rgba(255,255,255,0.6);

$button-color1: #047f70;

$button-color2: #047f70;

$button-color3: $gray2;
