{#
/**
 * @file
 * The user page.
 *
 */
#}
<div class="section">
  <div class="title">
    {{ 'Account'|t }}
  </div>
  <div class="content">
    {{ content.username }}
    {{ content.email_address }}
    {{ content.edit_link }}
  </div>
</div>
