{#
/**
 * @file
 * My events page template.
 *
 */
#}

<div class="column-wrapper">
    <div class="column-15-15 first-column">
        <div class="section">
           <div class="content">
                {{ content }}
            </div>
        </div>
    </div>
</div>

